body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.constrain-width-wide {
  max-width: 600px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.ribena {
  --ion-color-primary: purple;
}

.lucozade {
  --ion-color-primary: orange;
}

.lrs {
  --ion-color-primary: #00bcd4;
}

.constrain-width-wide {
  background-color: var(--color1, white) !important;
}

/* .sticky-theme-picker {
  position: sticky;
  top: 0px;
  padding-top: 3px;
  background-color: white;
  z-index: 1;
} */

ion-icon {
  font-size: 54px;
}

.ion-slides {
  height: 70vh;
}

.icon-grid {
  color: var(--ion-color-primary);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(54px, 1fr));
  max-width: 100%;
  width: 500px;
  padding: 10px;
  grid-gap: 10px;
}

.currently-selected-component {
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.max-width-400 {
  width: 400px;
  max-width: 100%;
}
